<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mahirhasan.registrationandlogin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@drawable/calendar"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AddholidaytablesActivity"
            android:label="@string/title_activity_addholidaytables"
            android:theme="@style/AppTheme" />
        <activity android:name=".UpdateholidaytablesActivity" />
        <activity
            android:name=".ShowmycalendarActivity"
            android:label="@string/title_activity_showmycalendar"
            android:theme="@style/AppTheme" />
        <activity android:name=".ShowMyHolidays" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".ShowMyHolidays2" />
        <activity android:name=".UpdateholidaytablesActivity2"></activity>
    </application>

</manifest>